    li, ul {
    font-weight: bold;
    font-size: 14px;
    color: orchid;
    margin-bottom: 20px;
    margin-top: 20px;   
    margin: 20px;
    text-align: left;
    font-family: Arial, sans-serif;   
    }
    

    a{
    background-color: snow;
    border: 2px solid aliceblue;
    color: turquoise;
    text-align: left;
    }
