h1{
    color: blue;
    background-color: aliceblue;
    border: 1px solid aquamarine;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold; 
    }
    input[type="text"], input[type="date"] {
        border: 1px solid greenyellow;
        border-radius: 4px;
        padding: 6px 12px;
        font-size: 14px;
        color: blue;
    }
    select.admin{
        border: 1px solid green;
        border-radius: 4px;
        padding: 6px 12px;
        font-size: 14px;
        color: blue;
        background-color: greenyellow;
    }
    p{
        color: red;
        background-color: aliceblue;
        border: 1px solid aquamarine;
        padding: 10px;
        margin: 15px;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: bold; 
    }
 
    form {
        width: 300px;
        padding: 16px;
        background-color: white;
        margin: 0 auto;
        margin-top: 100px;
        box-shadow: 0px 0px 10px 0px greenyellow;
        display: block;
        margin-bottom: 5px;
        border: 1px solid greenyellow;
        border-radius: 4px;
        box-sizing: border-box;
        color: blue;
        cursor: pointer;
        opacity: 0.9;
    }

    form:hover {
        opacity:1;
    }
    
.select-container {
    display: inline-block;
    position: relative;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 8px 12px;
    border: 1px solid honeydew;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    color: blue;
   }
   
   .select-container select:hover::-ms-expand {
    background-color: aquamarine;
   }
   button[type="submit"] {
    margin-left: 0;
    text-align: left;
}